@model whats_csharp.Models.UsuarioModel
@{
  ViewData["Title"] = "Cadastro";
  ViewBag.EsconderBotaoLogout = true;
}


<div class="d-flex justify-content-center align-items-center vh-100">
  <form class="p-4 rounded shadow" asp-controller="Cadastro" asp-action="Cadastrar" method="post" style="width: 320px; background-color: #fff;">
    <h3 class="text-center mb-4" style="color: #0cc143;">Cadastro</h3>
    <div class="mb-3">
      <label asp-for="Nome" class="form-label">Nome</label>
      <input asp-for="Nome" class="form-control" placeholder="Digite seu nome">
      <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
      <label asp-for="Email" class="form-label">E-mail</label>
      <input asp-for="Email" class="form-control" placeholder="Digite seu e-mail">
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-4">
      <label asp-for="Senha" class="form-label">Senha</label>
      <input asp-for="Senha" type="password" class="form-control" placeholder="******">
      <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
    <div class="mb-4">
      <label asp-for="ConfirmaSenha" class="form-label">Confirmar senha</label>
      <input asp-for="ConfirmaSenha" type="password" class="form-control" placeholder="******">
      <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
    </div>
    <button type="submit" class="btn w-100 text-white" style="background-color: #0cc143;">Cadastrar</button>
  </form>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
